* {
    white-space: normal;
    scrollbar-width: none;
}

:root {
    --back-color : rgb(255, 255, 255);
    --box-color : rgb(240, 240, 240);
    --text-dark-color : rgb(0, 0, 0);
    --text-default-color : rgb(20, 20, 20);
    --text-light-color : rgb(80, 80, 80);
    --text-alt-color : rgb(240, 240, 240);
    --button-default : rgb(40, 120, 255);
    --button-default-a : rgb(84, 147, 255);
    --button-default-h : rgb(33, 93, 199);
}

button {
    border: 0;
    border-radius: 0;
}

input {
    min-height: 40px;
    background-color: var(--back-color);
    border: 0;
    border-bottom: 1px solid rgb(100, 100, 100);
    box-shadow: 0px 3px 0px -5px rgb(100, 100, 100);
    outline: none;
    transition: 0.1s;
}
input:focus {
    outline: none;
    box-shadow: 0px 3px 6px -3px rgb(100, 100, 100);
}
input:active {
    outline: none;
}

.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    scrollbar-width: none;
    overflow-y: scroll;
    box-sizing: border-box;
}

.middle-wall-object {
    width: 100%;
    position: absolute;
    left: 0;
    top: 70px;
    padding-top: 30px;
    padding-bottom: 60px;
    height: max-content;
}

.content-left {
    text-align: left;
}
.content-center {
    text-align: center;
}
.content-right {
    text-align: right;
}

.vertical-top {
    vertical-align: top;
}
.vertical-middle {
    vertical-align: middle;
}
.vertical-bottom {
    vertical-align: bottom;
}

.raw-object {
    min-height: 20px;
    display: inline-block;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 300px;
    max-width: 1000px;
}
.smaller-object {
    min-width: 200px;
}
.nullable-object {
    min-width: 0;
}
.scrollable-object {
    overflow-y: scroll;
}

.raw-box {
    border-radius: 3px;
    background-color: var(--box-color);
}

.filling-box {
    width: 100%;
    height: 100%;
    border: 1px solid var(--text-light-color);
    background-color: var(--back-color);
}
.day-box {
    height: 160px;
}


.button-default {
    background-color: var(--button-default);
    color: var(--text-alt-color);
    transition: 0.2s;
}
.button-default:hover {
    background-color: var(--button-default-h);
    transition: 0.1s;
}
.button-default:active {
    background-color: var(--button-default-a);
    transition: 0.03s;
}

.raw-shadow {
    box-shadow: 0px 2px 8px -1px rgb(90, 90, 90);
}

.days-box {
    width: calc(100% - 100px);
    max-width: none;
}
.times-box {
    width: 100px;
}

.no-wrap {
    white-space: nowrap;
    overflow-x: auto;
}

.scroll-disable {
    overflow-y: hidden;
    overflow-x: hidden;
}