.w100-obj {
    width: 100%;
}
.w92-obj {
    width: 92%;
}
.w90-obj {
    width: 90%;
}
.w80-obj {
    width: 80%;
}
.w80-small-obj {
    width: 80%;
}
.w70-obj {
    width: 70%;
}
.w70-small-obj {
    width: 70%;
}
.w60-obj {
    width: 60%;
}
.w50-obj {
    width: 50%;
}
.w50-small-obj {
    width: 50%;
}
.w40-obj {
    width: 40%;
}
.w33-obj {
    width: 33.3%;
}
.w30-obj {
    width: 30%;
}
.w30-small-obj {
    width: 30%;
}
.w25-obj {
    width: 25%;
}
.w20-obj {
    width: 20%;
}
.w20-small-obj {
    width: 20%;
}
.w16-obj {
    width: 16.5%;
}
.w12_5-obj {
    width: 14%;
}
.w10-obj {
    width: 10%;
}
.w8-obj {
    width: 8%;
}
.w5-obj {
    width: 5%;
}

@media (max-width: 900px) {
    .w92-obj {
        width: 100%;
    }
    .w90-obj {
        width: 100%;
    }
    .w85-obj {
        width: 100%;
    }
    .w80-obj {
        width: 100%;
    }
    .w75-obj {
        width: 100%;
    }
    .w70-obj {
        width: 100%;
    }
    .w60-obj {
        width: 100%;
    }
    .w50-obj {
        width: 100%;
    }
    .w50-small-obj {
        width: 50%;
    }
    .w48_75-obj {
        width: 100%;
    }
    .w40-obj {
        width: 50%;
    }
    .big-w30-obj {
        width: 100%;
    }
    .w33-obj {
        width: 50%;
    }
    .w30-obj {
        width: 50%;
    }
    .w25-obj {
        width: 50%;
    }
    .w20-obj {
        width: 50%;
    }
    .w16-obj {
        width: 25%;
    }
    .w15-obj {
        width: 25%;
    }
    .w12_5-obj {
        width: 20%;
    }
    .w10-obj {
        width: 20%;
    }
    .w8-obj {
        width: 16%;
    }
    .w5-obj {
        width: 10%;
    }
}

@media (max-width: 400px) {
    .w80-small-obj {
        width: 100%;
    }
    .w70-small-obj {
        width: 100%;
    }
    .w50-small-obj {
        width: 100%;
    }
    .w40-obj {
        width: 100%;
    }
    .w33-obj {
        width: 100%;
    }
    .w30-obj {
        width: 100%;
    }
    .w30-small-obj {
        width: 100%;
    }
    .w25-obj {
        width: 100%;
    }
    .w20-obj {
        width: 100%;
    }
    .w20-small-obj {
        width: 100%;
    }
    .w16-obj {
        width: 50%;
    }
    .w15-obj {
        width: 50%;
    }
    .w12_5-obj {
        width: 50%;
    }
    .w10-obj {
        width: 50%;
    }
    .w8-obj {
        width: 25%;
    }
    .w5-obj {
        width: 25%;
    }
}