.w100-obj {
    width: 100%;
}
.w92-obj {
    width: 92%;
}
.w90-obj {
    width: 90%;
}
.w80-obj {
    width: 80%;
}
.w70-obj {
    width: 70%;
}
.w60-obj {
    width: 60%;
}
.w50-obj {
    width: 50%;
}
.w40-obj {
    width: 40%;
}
.w30-obj {
    width: 30%;
}
.w25-obj {
    width: 25%;
}
.w20-obj {
    width: 20%;
}
.w12_5-obj {
    width: 14%;
}
.w10-obj {
    width: 10%;
}
.w8-obj {
    width: 8%;
}
.w5-obj {
    width: 5%;
}